name: Deploy to Heroku

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and push Docker image
        run: |
          docker build -t spelling-checker-front:latest .
      - name: Print Heroku API key
        run: echo ${{ secrets.HEROKU_API_KEY }}
      - name: Log in to Heroku
        run: echo ${{ secrets.HEROKU_API_KEY }} | heroku container:login
      - name: Log in to Heroku
        run: heroku container:push web -a spelling-checker-front -t latest
      - name: Deploy to Heroku
        run: heroku container:release web -a spelling-checker-front -t latest
